---
layout: default
---

<figure>
    <img id="cover" src="{{ "/public/images/face.jpg" | relative_url }}"></img>
</figure>
<div id="leaving"></div>
{% for post in paginator.posts %}
<section>
    <div class="post_list">
      <div class="timestamp_left">
        <div class="issue_date"><time pubdate="{{ post.date | date_to_utc | date: "%B %-d, %Y" }}">{{ post.date | date_to_utc | date: "%B %-d, %Y" }}</time></div>
      </div>
      <div class="metas">
        <h3 class="post-title"><a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}" rel="bookmark">{{ post.title }}</a></h3>
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords:50 }}</p>
        <p class="post-more"><a href="{{ post.url | relative_url }}" title="Read More" rel="nofollow">Read More...</a></p>
      </div>
    </div>
</section>
{% endfor %}
{% if paginator.total_pages > 1 %}
<nav class="pagination fn-clear" id="violet-paging">
    <ul class="pagination-list">
        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <li class="current"><a href="javascript:void(0);">{{ page }}</a></li>
            {% else %}
                <li><a href="{{ site.url }}/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
